body {
    background-image: url(../images/crystalbg.jpg);
    font-size: 20px;
    text-align:center;
    color: azure;
    font-weight: bold;
}
.jumbotron {
    padding: 10px 0 10px 0;
}
.instructions {
    line-height: 0.8;
    padding: 0 100px 0 100px;
}
img {
    padding: 10px;
}

#given-score {
    font-size: 48px;
    font-weight: bold;
}
#score {
    font-size: 36px;
    font-weight: bold;
}
#player-score {
    font-size: 48px;
    font-weight: bold;
}

